h1 {
	font-family: $helvetica;
	color: darken($bluegray, 25);
	font-size: 1.5em;
	margin-bottom: .5em;

	@include media($tablet) {
		font-size: 1.2em;
	}

	@include media($mobile) {
		font-size: 1em;
		text-align: center;
	}
}

h2 {
	font-family: $helvetica;
	color: $dark-purple;
	font-size: 1.2em;
	margin-bottom: .5em;

	@include media($tablet) {
		font-size: 1em;
	}

	@include media($mobile) {
		font-size: .9em;
		text-align: center;
	}
}

h3 {
	font-family: $helvetica;
	color: $dark-purple;
	font-size: 1em;
	margin-bottom: .5em;

	@include media($tablet) {
		font-size: .9em;
	}

	@include media($mobile) {
		font-size: .8em;
		text-align: center;
	}
}

p {
	font-family: $helvetica;
	color: darken($bluegray, 10);

	@include media($tablet) {
		font-size: .9em;
	}
}

ul {
	font-size: .9em;
	color: darken($bluegray, 10);
}

