section.contact.content {
	@include outer-container;
	margin-top: em(50);

	@include media($mobile) {
		margin-top: em(25);
	}

	article {
		@include span-columns(7);

		@include media($tablet) {
			@include pad(0 1em);
		}

		@include media($mobile) {
			position: static;
			@include fill-parent;
		}
	}

	aside {
		@include span-columns(4);
		@include shift(1);
		@include pad(1em 1em 1em 2em);
		@include linear-gradient($light-purple, darken($light-purple, 10));
		border: 2px solid darken($light-purple, 5);
		border-radius: 6px;

		@include media($tablet) {
			margin-left: 2em;
			@include pad(1em 1em 1em 1em);				
		}

		@include media($mobile) {
			position: static;
			@include fill-parent;
			width: 95%;
			margin-top: em(15);
			margin-left: .5em;
			text-align: center;
		}

		p {
			margin-top: em(30);
		}

		a {
			color: $dark-purple;

			&:hover {
				color: lighten($dark-purple, 25);
			}
		}
	}
}