div.footer-spacer {
  background: $white;
  height: 50px;
}

footer {
    
	height: em(70);
	background: $dark-purple;
	@include linear-gradient(lighten($dark-purple, 10), $dark-purple);
	padding: 15px 20px;

	@include media($mobile) {
		height: em(50);
		padding: 10px 15px;
	}

	div.copyright {
		@include span-columns(6);
		@include pad(0 1em);
	}

	div.disclaimer {
		@include span-columns(6);
		text-align: right;
		@include pad(0 1em);
	}

	a {
        
        color: rgba(250, 250, 250, .8);

        &:hover {
        	color: rgba(250, 250, 250, 1);
        }

		@include media($tablet) {
			font-size: .9em;
		}

		@include media($mobile) {
			font-size: .7em;
		}
	}
}