section {
	@include outer-container;
	#hero {      
      background-color: $light-purple;
      @include linear-gradient($light-purple, darken($light-purple, 10));
      margin-top: 50px;
      height: 333px;
      border-radius: 10px;
      border: 2px solid darken($light-purple, 5);
	    article {
	    	@include span-columns(6);
	      @include pad(30px 50px);
	    	h1 {
	    		font-size: em(24);    	
	    	}	    	
	    	.date {    	    		
	    	  color: $base-body-color;
	    	  margin-left: 100px;
	    	}
	    	.body {
	    		margin-top: 40px;
	    		font-weight: bold;
	    		line-height: 2em;
	    	}
	    	.button {
	    		@extend %button;
	    		margin-top: 25px;
	    		margin-left: 120px;
	    	}
	    }
	    #poster {
	    	@include pad(18px 50px);
	    	@include span-columns(6);
	    	img {      
        box-shadow: 5px 5px 20px darken(#888888, 10);
        border: 2px solid $medium-gray;        
	    	}
	    }
	}   

}

section.content {
    	@include outer-container;
        @include pad(0 1em);
    	margin-top: em(30);
    	
		article {
			@include span-columns(6);
			height: em(300);

			h2 {
				font-size: 1.5em;
				line-height: 1.5em;
				@include pad(1em);
				text-align: center;
			}

			p.more-info {
				text-align: right;
				margin-top: em(20);
			}
		}
	}

