section {
	@include outer-container;

	#hero {      
      background-color: $green;
      //@include linear-gradient(lighten($yellow, 10), $yellow);
      margin-top: em(50);      
      height: em(333);
      border-radius: em(10);
      border: 3px solid darken($green, 5);

      @include media($tablet) {
      	height: em(300);
      	margin-top: 2em;
      	margin-left: auto;
      	margin-right: auto;
      	width: 95%
      }

      @include media($mobile) {
      	height: em(260);
      }     

     
	    article {
	    	@include span-columns(6);    	
	      	margin-top: 1.5em;
	      	padding-left: 4em;	      	 

      		@include media($tablet) {
      			padding-left: 3em;
      		}

      		@include media($mobile) {
      			position: static;
      			@include fill-parent;
      			margin-left: 1em;
      			padding-left: 0px;
      		}
      		
	      	
	    	h1 {
	    		font-size: 1.2em;
	    		font-family: 'Droid Sans', sans-serif;	    		   		
    	        @include media($tablet) {
    	        	font-size: 1em;    	        

    	        }

    	        @include media($mobile) {
    	        	font-size: 1em;
    	        	text-align: left;   	        	
    	        }
	    	}

	    	.date {    	    		
	    	  color: $base-body-color;
	    	  margin-left: 100px;
	    	  
	    	  @include media($mobile) {
	    	  	margin-left: 0px;
	    	  	font-size: .8em;
	    	  }
	    	}
	    	.body {
                margin-top: 1.5em;
	    		margin-bottom: 2em;
	    		font-weight: bold;
	    		line-height: 2em;


	    		@include media($tablet) {
	    			margin-top: 1em;
	    			margin-bottom: 1.5 em;
	    			line-height: 1.5em;
    				font-size: .9em;
	    			
	    		}

	    		@include media($mobile) {
	    			font-size: .8em;
	    			margin-right: 1em;
	    			margin-bottom: 1.2em;
	    		}
	    	}

	    	div.registreer {
	    		text-align: center;
	    		line-height: 1em;
                
                @include media($mobile) {
                	 position: absolute;
                	 left: 100px;
                }
		    	.button {
		    		@include button(shiny, lighten($dark-purple, 10));
		    		margin: 0 auto;

		    		@include media($mobile) {
		    			//width: 40%;		    			
		    			font-size: .8em;
                     
		    		}
		    	    		    		
		    	}
	    	}
	    }
	    #poster {
	    	@include pad(em(18) em(50));
	    	@include span-columns(6);
	    	img {      
        box-shadow: 5px 5px 20px darken(#888888, 10);
        border: 2px solid $medium-gray;
        height: auto;

               @include media($mobile) {
               	  display: none;
               }       
	    	}

	    	@include media($tablet) {
	    		@include pad(27px 25px);
	    	}
	    }
	}   

}

section.home.content {
    	@include outer-container;
        
    	margin-top: em(30);

    	@include media($mobile) {
    		margin-top: em(15);
    	}
    	
		article {
			@include span-columns(6);
			height: em(300);
			@include pad(0 1.5em);

			@include media($tablet) {
				height: em(250);
				margin: 0 auto;				
			}

			@include media($mobile) {
				position: static;
				@include fill-parent;
				height: auto;
				margin-bottom: 1em;
			}

			h2 {
				font-size: 1.5em;
				line-height: 1.5em;
				@include pad(1em);
				text-align: center;

				@include media($tablet) {
					font-size: 1em;
				}
				@include media($mobile) {
					@include pad(.2em);
				}
			}

			p.more-info {
				text-align: right;
				margin-top: em(20);
			}
		}

	}

div.sponsor-spacer {
  background: $white;
  height: 50px;
  @include media($mobile) {
  	height: 40px;
  }
}

section.sponsors {
	@include outer-container;    
	ul.sponsors {
			@include span-columns(12);
			text-align: center;

			li.block {
				@include span-columns(2);
				@include omega(6n);
                img {
                	max-width: 60%;
                	@include media($mobile) {
                		max-width: 30%;
                	}
                }

				@include media($mobile) {
					position: static;
					@include fill-parent;
					@include pad(.5em);
					
				}
			}
		}
}

div.rule {
	@include outer-container;

	@include media ($tablet) {
		@include pad(0 em(20));
	}
}

