header.nav {
    
    
    background: $dark-purple;
    @include linear-gradient(lighten($dark-purple, 10), $dark-purple);
    padding: em(10) em(20);
    height: em(50);

    div.logo {
        @include span-columns(3);
    }

    h1 {
        font-size: 1em;

        a {
            color: rgba(250, 250, 250, 0.8);
        }
    }

    nav {
        @include span-columns(6);
        
        
        li {
            @include inline-block;
            @include pad(0px 1em);            


            a {
                color: rgba(250, 250, 250, 0.8);
                font-size: .9em;

                &:hover {
                    color: rgba(250, 250, 250, 1);
                }
            }            
        }
    }

    div.language {
        @include span-columns(3);
        text-align: right;

        a {
            color: rgba(250, 250, 250, 0.8);
            font-size: .9em;

            &:hover {
                    color: rgba(250, 250, 250, 1);
                }
        }       
    }   

}
 /*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
        header:before,
        header:after {
            content:"";
            display:table;
        }
        header:after {
            clear:both;
        }
        /* For IE 6/7 (trigger hasLayout) */
        header {
            zoom:1;
        }


 
